@use "../../styles/glob" as *;

@use "sass:color";

.main_footer {
    background-color: color.adjust($bg-color, $lightness: -2%);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    
    @include media-breakpoint-down(lg) {
        padding-bottom: 90px;
    }
}

.footer_content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    @include media-breakpoint-up(xxl) {
        max-width: 1500px;
    }
}

.footer_spacer{
    padding: 20px 30px;
    @include media-breakpoint-down(sm){
        display: none;
    }
}

.social_wrapper{
    margin: 20px 0;
}

.text_spacer{
    flex-grow: 1;
    @include media-breakpoint-down(md){
        display: none;
    }
}
.text{
    text-align: right;
    margin: 10px 15px;
    @include media-breakpoint-down(md){
        text-align: center;
        margin: 20px 30px;
    }
}