@use "../../styles/glob" as *;

.link{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    transition: all .1s;
    @extend .center-flex;
    > *{
        transition: all .1s;
        font-size: 20px;
    }

    &:hover{
        opacity: .8;
    }
    @extend .no-undeline-animation;
}

.list{
    flex-flow: row wrap;
    @extend .center-flex;
    > *{
        text-decoration: none;
        margin: 8px;
    }
}


