@use "../../styles/glob" as *;

.header{
    padding: 60px;
    @include media-breakpoint-down(md){
        padding: 40px;
    }
}

.btn{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    @extend .center-flex;
    *{
        font-size: 110%;
    }
}

.header_btns{
    float: right;
    @extend .center-flex;
    @include media-breakpoint-down(md){
        width: 100%;
        padding-top: 20px;
        float: unset;
    }
}

.header_title{
    display: inline;
    @include media-breakpoint-down(md){
        display: block;
        text-align: center;
        width: 100%;
    }
}

.btnlink{
    @include media-breakpoint-up(md){
        margin-bottom: 20px;
    }
}

.btnlink_deactivated{
    opacity: .4;
}

.listelement {
    width: 100%;
    cursor: pointer;
}

.list{
    width: 100%;
}

.arrow{
    float: right;
}

.metas{
    @extend .center-flex;
    margin-bottom: 8px;
    margin-right: 10px;
}

.header_post{
    @extend .center-flex;
}

.listselector{
    @extend .center-flex;
    flex-direction: column;
    @include media-breakpoint-down(md){
        flex-direction: row;
        padding-bottom: 30px;
    }
}

.panewindow{
    width: 100vw;
    height: 100vh;
    background-color: #222D;
    padding: 50px;
}

.panewindow_header > i{
    float: right;
    font-size: 120%;
    cursor: pointer;
    margin-top: -10px;
    padding: 20px;
}

.mdeditor{
    height: 300px;
}

.donebtn{
    float: left;
}